<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraryData.Properties.Settings.MusicPlayerDBConnectionString"
            connectionString="Data Source=DESKTOP-31T7P0B\SQLEXPRESS;Initial Catalog=MusicPlayerDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>